<!DOCTYPE html>
<html>
  <head>
    <title>Posts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/blogMain.css' />
  </head>
  <body>
	  <%- include('header.ejs') %>
	<% if (posts.length) {%>
	<main>
		<h1>Blog Posts</h1>
			<ul>
			<% for (const post of posts) {%>
				<li class='post'>
					<a class='title' href="<%= post.url %>"><h2><%= post.title %></h2></a>
					<p class='subtitle'><%= post.subtitle ? post.subtitle: post.body.slice(0, 100) + '...' %></p>
					<p class='date'><time><%= new Date(post.date).toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></time></p>
				</li>
			<% }%>
			</ul>
		<% } else { %>
		<h1>There is nothing yet!</h1>
	</main>
	<% } %>
  </body>
</html>
